
<div id="title-report" class="el-hide"><%- locales.inbound.title %></div>
<div class="box box-warning">
    <div class="box-header with-border row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="col-lg-12 text-center"><h1><%- locales.title_header %></h1></div>
             <div class="col-lg-12 text-center"><h4>PT. CKB LOGISTICS</h4></div>
            <div class="col-lg-12">
                <div id="dvAlert" class=""></div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateFrom">Location</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i id="iLoc" class="fa fa-hand-o-up"></i>
                                </div>
                                <select type="text" class="form-control" id="txtLocID"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateTo">Customer</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i id="iCust" class="fa fa fa-hand-o-up"></i>
                                </div>
                                <select type="text" class="form-control" id="txtCustID" autocomplete="off"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Generate data based on:</legend>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="opsTypeDate" value="BCDoc" checked="true">
                                            BC Document Dates
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="opsTypeDate" value="InDoc">
                                            Inbound Dates
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dateFrom">From</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="dateFrom" value="<%= cutoffdate %>" autocomplete="off" onkeydown="return false;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dateTo">To</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="dateTo" autocomplete="off" onkeydown="return false;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="docType"><%- locales.inbound.document_type %></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-hand-o-up"></i>
                                </div>
                                <select class="form-control pull-right" id="docType" value="" autocomplete="off" onkeydown="return false;">
                                    <option value="all">All</option>
                                    <option value="16">BC 1.6</option>
                                    <option value="27">BC 2.7 (In/Out)</option>
                                    <option value="40">BC 4.0</option>
                                    <option value="20">BC 2.0</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>


            </div>
            <div class="text-center">
                <button id="btnSearch" type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="box-body row">
        <div class="col-lg-12 text-center"><h3 id="title-full"><%- locales.inbound.title + " " + locales.title_header_ucfirst %></h3></div>
        <div class="col-lg-12 text-center" id="dvPeriod"></div>
        <div class="col-lg-12">
            <div>
                <div class="form-group">
                    <button id="ExportReporttoExcel" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Export Summary</button>
                    <button id="ExportReporttoExcelDtl" class="btn btn-warning"><i class="fa fa-file-excel-o"></i> Export Detail</button>
                </div>
                <div id="dvTable" class="form-group" style="max-width:100%;overflow:auto">
                    <table id="tblReport" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-bold info" style="vertical-align:middle;">No</th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.customs_doc_type %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.customs_registration_no %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.customs_doc %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.customs_doc_date %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.wms_refference_doc %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.receipt_date %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.supplier %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.customs_ref_doc_no %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.container_no %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.item_code %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.item_description %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.serial_no %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.batch_no %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.ghs_no %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.qty %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.uom1 %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.item_price %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.currency %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.weight %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.uom2 %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.volume %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.uom3 %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.customer_name %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.warehouse_name %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.created_by %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.created_at %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.modified_by %></th>
                                <th class="text-bold info" style="vertical-align:middle;"><%- locales.inbound.detail_inbound.modified_at %></th>
                            </tr>
                        </thead>
                        <tbody id="tbReport">
                            <tr id="trNoRecord">
                                <td colspan="29" class="text-center"><small>~ Data not found ~</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table-hide" id="table-header-summary">
    <tr bgcolor='#87AFC6'>
        <td>No</td>

        <td><%- locales.inbound.summary_inbound.customs_doc_type %></td>
        <td><%- locales.inbound.summary_inbound.custom_registration_no %></td>
        <td><%- locales.inbound.summary_inbound.custom_doc_no %></td>
        <td><%- locales.inbound.summary_inbound.customs_doc_date %></td>
        <td><%- locales.inbound.summary_inbound.wms_inbound_no %></td>
        <td><%- locales.inbound.summary_inbound.receipt_date %></td>
        <td><%- locales.inbound.summary_inbound.supplier %></td>
        <td><%- locales.inbound.summary_inbound.reference_doc_no %></td>
        <td><%- locales.inbound.summary_inbound.container_no %></td>
        <td><%- locales.inbound.summary_inbound.item_code %></td>
        <td><%- locales.inbound.summary_inbound.item_description %></td>
        <td><%- locales.inbound.summary_inbound.batch %></td>
        <td><%- locales.inbound.summary_inbound.ghs_no %></td>
        <td>Lot no</td>
        <td><%- locales.inbound.summary_inbound.qty %></td>
        <td><%- locales.inbound.summary_inbound.uom1 %></td>
        <td><%- locales.inbound.summary_inbound.item_price %></td>
        <td><%- locales.inbound.summary_inbound.currency %></td>
        <td><%- locales.inbound.summary_inbound.weight %></td>
        <td><%- locales.inbound.summary_inbound.uom2 %></td>
        <td><%- locales.inbound.summary_inbound.volume %></td>
        <td><%- locales.inbound.summary_inbound.uom3 %></td>
        <td><%- locales.inbound.summary_inbound.customer_name %></td>
        <td><%- locales.inbound.summary_inbound.warehouse_name %></td>
    </tr>
</table>
<table class="table-hide" id="table-header-detail">
    <tr bgcolor='#87AFC6'>
        <td>No</td>
        <td><%- locales.inbound.detail_inbound.customs_doc_type %></td>
        <td><%- locales.inbound.detail_inbound.customs_registration_no %></td>
        <td><%- locales.inbound.detail_inbound.customs_doc %></td>
        <td><%- locales.inbound.detail_inbound.customs_doc_date %></td>
        <td><%- locales.inbound.detail_inbound.wms_refference_doc %></td>
        <td><%- locales.inbound.detail_inbound.receipt_date %></td>
        <td><%- locales.inbound.detail_inbound.supplier %></td>
        <td><%- locales.inbound.detail_inbound.customs_ref_doc_no %></td>
        <td><%- locales.inbound.detail_inbound.container_no %></td>
        <td><%- locales.inbound.detail_inbound.item_code %></td>
        <td><%- locales.inbound.detail_inbound.item_description %></td>
        <td><%- locales.inbound.detail_inbound.serial_no %></td>
        <td><%- locales.inbound.detail_inbound.batch_no %></td>
        <td><%- locales.inbound.detail_inbound.ghs_no %></td>
        <td>Lot no</td>
        <td><%- locales.inbound.detail_inbound.qty %></td>
        <td><%- locales.inbound.detail_inbound.uom1 %></td>
        <td><%- locales.inbound.detail_inbound.item_price %></td>
        <td><%- locales.inbound.detail_inbound.currency %></td>
        <td><%- locales.inbound.detail_inbound.weight %></td>
        <td><%- locales.inbound.detail_inbound.uom2 %></td>
        <td><%- locales.inbound.detail_inbound.volume %></td>
        <td><%- locales.inbound.detail_inbound.uom3 %></td>
        <td><%- locales.inbound.detail_inbound.customer_name %></td>
        <td><%- locales.inbound.detail_inbound.warehouse_name %></td>
    </tr>
</table>
<script src="/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="/dist/js/rpthandlingin.js"></script>
<script src="/exporttofile/excel.js"></script>